html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.btn {
  display: inline-block;
  padding: 20px 40px;
  background-color: tomato;
  color: white;
  border: 2px solid black;
  border-radius: 3px;
  text-decoration: none;
}

.btn:hover,
.btn:focus {
  background-color: black;
  border-color: tomato;
}

.btn-icon {
  width: 20px;
  height: 20px;
  background-color: blue;
  display: inline-block;
  margin-right: 6px;
  vertical-align: middle;
}

.box {
  width: 500px;
  height: 100px;
  background-color: teal;

  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 1000px;
  margin: 0 auto;
}
