/* цвет основного текста rgba(0, 0, 0, 0.8) */

/* вторичный цвет  текста #000000 */

/* белый #ffffff */

/* акцент #18A0fb */

/* вторичный цвет фона #f5f5f5 */

.container {
  width: 1200px;
  outline: 2px solid tomato;
  margin: 0 auto;
}

/* Page-header */
.page-header {
  background-color: #ccc;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Hero */
.hero {
  text-align: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--title-text-color);

  font-weight: 400;
  font-size: 56px;
  line-height: 1.43;

  margin-bottom: 40px;
}

/* Section */

.section-title {
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 60px;
  background-color: tomato;

  font-weight: 400;
  font-size: 48px;
  line-height: 1.5;
}

.clients > .section-title {
  color: teal;
}

.section-description {
  font-size: 36px;
  line-height: 1.39;
}

/* Feature Examples*/
.feature-list .title,
.work-list .title {
  margin-top: 0;
  margin-bottom: 24px;
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
}

.feature-list p {
  margin-top: 0;
  margin-bottom: 32px;
}

.works {
  background-color: tomato;
}

.button {
  display: inline-block;
  min-width: 130px;
  padding: 11px 34px;
  border: 1px solid transparent;
  border-radius: 6px;

  color: var(--title-text-color);
  background-color: var(--primary-white-color);

  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  text-decoration: none;
  text-align: center;
}

.button.primary {
  color: var(--primary-white-color);
  background-color: var(--acent-color);
}

.button.secondary {
  color: var(--acent-color);
  background-color: var(--primary-white-color);
  border-color: var(--acent-color);
}
